<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easyvote_gd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyVote_GD">
        <activity android:name=".UpdateVoterDetails2"
            android:parentActivityName=".AdminVoteDetails" />
        <activity android:name=".UpdateCandidateList"
            android:parentActivityName=".AdminVoteDetails" />
        <activity android:name=".CandidateList" />
        <activity
            android:name=".UpdateVoterDetails"
            android:parentActivityName=".AdminVoteDetails" />
        <activity
            android:name=".VoterList"
            android:parentActivityName=".AdminVoteDetails" />
        <activity
            android:name=".AdminUser"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".ConfirmVote" />
        <activity android:name=".UserVote" />
        <activity
            android:name=".AdminVoteDetails"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ForgotPassword"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".RegisterUser"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>